<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto my-5">
      <h1 class="mt-4 mb-4">Create New Product</h1>
      
      <form action="/products/new" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="name" class="form-control" name="title" id="title" required />
        </div>
      
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control" cols="30" rows="10" id="description" required></textarea>
        </div>
      
        <div class="form-group">
          <label for="price">price</label>
          <input type="text" class="form-control" name="price" id="price" required/>
        </div>

        <div class="form-group">
          <label for="color">color</label>
          <input type="text" class="form-control" name="color" id="color" required/>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select name="category">
            <% categories.forEach( category => { %>
              <option value="<%= category.title%>"> <%=category.title%> </option>
            <% }) %>
          </select>
        </div>
      
        <div class="form-group">
          <label for="status">Status</label>
          <select name="status">
            <option value="available">Available</option>
            <option value="not-available">Not Available</option>
          </select>
        </div>

        <div class="form-group">
          <label for="size">Size</label>
          <select name="size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
            <option value="XLarge">XLarge</option>
            <option value="XXLarge">XXLarge</option>
          </select>
        </div>
        

        <div class="form-group">
          <label for="imagePath">Image Path</label>
          <input type="text" class="form-control" name="imagePath" id="imagePath" required />
        </div>
        
        <button type="submit" class="btn btn-primary button-style">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include ../partials/footer %>